{
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "parser": "css",
        "singleQuote": false,
        "tabWidth": 2
      }
    }
  ]
}
